@import "tailwindcss";

@theme {
  --color-primary: #50C878;
  --color-background-light: #f6f8f6;
  --color-background-dark: #11181c;
  --color-charcoal: #1f2937;
  --color-slate-custom: #f9fafb;
}

/* Material Symbols Config */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  font-family: 'Inter', sans-serif;
}
